@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}



.navbar a{
    color:white;
    text-decoration:none;
    padding:10px;
}
    .navbar a:hover {
        text-decoration: underline;
        text-decoration-thickness: 3px;
    }








